<!DOCTYPE html>
<html>
    <head>
        <title>Example Two</title>
        <script src="../static/angular.js"></script>
    </head>
    <body>
        <div data-ng-app="myApp" data-ng-controller="myCtrl">
            Number 1: <input type="number" data-ng-model="n1"> <br>
            Number 2: <input type-"number" data-ng-model="n2"> <br>
            Addition: {{ n2*1 + n1*1 }}

        </div>
        
    </body>
    <script>
        var app = angular.module("myApp", []);
        app.controller('myCtrl', function($scope) {
            $scope.n1 = "";
            $scope.n2 = "";
        });
    </script>
</html>